@using MyNewBlog.Models;
@model IEnumerable<Post>

@{ 
    ViewBag.Title = "Index";
}
@foreach(Post post in Model)
{
    <div class="jumbotron col-lg-6">
    @post.TITLE<br/>
    @post.POST_BODY<br />
    @post.POST_AUTHOR<br />
    @post.P_DATE_TIME
    </div>
}
