<div ng-controller="BlogController">
    <table class="table table-striped">
        <tr ng-repeat="Post in Posts">
            <td>{{Post.TITLE}}</td>
            <td>{{Post.P_DATE_TIME}}</td>

            <td>{{Post.POST_BODY}}</td>
            <td>{{Post.POST_AUTHOR}}</td>
            <td>{{Post.Tags}}</td>
        </tr>
    </table>
    <div class="container">
        <input type="text" class="form-control" ng-model="newTitle" placeholder="Title" />
        <input type="text" class="form-control" ng-model="newAuthor" placeholder="Author" />
        <input type="text" class="form-control" ng-model="newDate" placeholder="Date" />
        <input type="text" class="form-control input-lg" width="100" height="300" ng-model="newPost" placeholder="Post" />
        <button href="#" class="btn btn-primary" ng-click="addPost()">POST</button>
    </div>
</div>
